<div><%= link_to @guest.name, edit_guest_path(@guest) %></div>
<div><%= @guest.bill_to %></div>
<div><%= @guest.address %></div>
<div><%= @guest.address2 %><div>
<div><%= @guest.city %>, <%= @guest.state %> <%= @guest.zip %></div>
<div><%= @guest.email %></div>
