
<ul>
<% @visits.each do |v| %>
  <li><%= link_to v.guest.name, costing_path(v.id) %>, <%= number_to_currency v.income %>, <%= v.hours_count %></li>
<% end %>
</ul>

<div> Total income for this period: <%= number_to_currency @total_inc %></div>
<div> Total labor hours for this period: <%= @total_hours %></div>
