
<div class = "col-md-3 col-md-offset-4">
<%= form_for @day, html: {class: "form-horizontal center"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class = "form-group">
    <%= f.label "Waive Facility Rental Fee" %>
    <%= f.check_box :waive_facility_rental %>
  </div>

  <div class = "form-group">
    <%= f.label :breakfast, class: "control-label" %>
    <%= f.number_field :breakfast, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :lunch, class: "control-label" %>
    <%= f.number_field :lunch, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :dinner, class: "control-label" %>
    <%= f.number_field :dinner, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :dorm, class: "control-label" %>
    <%= f.number_field :dorm, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label "Horton House", class: "control-label" %>
    <%= f.number_field :hh, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :lodge, class: "control-label" %>
    <%= f.number_field :lodge, class: "form-control" %>
  </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>
