
  <tbody>
    <tr>
      <td>Breakfast</td>
      <% @visit.days.each do |day| %>
        <td><%= day.breakfast %></td>
      <% end %>
      <td><strong><%= @visit.breakfast_count %></strong></td>
      <td><%= @visit.price.breakfast %></td>
      <td><%= number_to_currency @visit.bf_income %></td>
    </tr>
    <tr>
      <td>Lunch</td>
      <% @visit.days.each do |day| %>
        <td><%= day.lunch %></td>
      <% end %>
      <td><strong><%= @visit.lunch_count %></strong></td>
      <td><%= @visit.price.lunch %></td>
      <td><%= number_to_currency @visit.lunch_income %></td>
    </tr>
    <tr>
      <td>Dinner</td>
      <% @visit.days.each do |day| %>
        <td><%= day.dinner %></td>
      <% end %>
      <td><strong><%= @visit.dinner_count %></strong></td>
      <td><%= @visit.price.dinner %></td>
      <td><%= number_to_currency @visit.din_income %></td>
    </tr>
    <tr>
      <td>Dorm</td>
      <% @visit.days.each do |day| %>
        <td><%= day.dorm %></td>
      <% end %>
      <td><strong><%= @visit.dorm_count %></strong></td>
      <td><%= @visit.price.dorm %></td>
      <td><%= number_to_currency @visit.dorm_income %></td>
    </tr>
    <tr>
      <td>Horton House</td>
      <% @visit.days.each do |day| %>
        <td><%= day.hh %></td>
      <% end %>
    <td><strong><%= @visit.hh_count %></strong></td>
    <td><%= @visit.price.horton %></td>
    <td><%= number_to_currency @visit.hh_income %></td>
    </tr>
    <tr>
      <td>Lodge</td>
      <% @visit.days.each do |day| %>
        <td><%= day.lodge %></td>
      <% end %>
      <td><strong><%= @visit.lodge_count %></strong></td>
      <td><%= @visit.price.lodge %></td>
      <td><%= number_to_currency @visit.lodge_income %></td>
    </tr>
    <tr>
      <td>Facility Rental Fee (charged each day)</td>
      <% @visit.days.each do |day| %>
        <% if day.waive_facility_rental? %>
          <td>Waived</td>
        <% else %>
          <td><%= @visit.price.rentalfee %></td>
        <% end %>
      <% end %>
        <td><%= @visit.num_days %></td>
        <td></td>
      <td><%= number_to_currency @visit.fac_income %></td>
    </tr>
  </tbody>
