  <div class = "row">

    <div>
      <% if Visit.exists?(@day.visit_id) %>
        <%= link_to "Return to Visit", costing_path(@day.visit) %>
      <% end %>
    </div>

  </div>
  <h3>Scheduled employees for <%= formatted_date @day.date %></h3>
<div class = "row">
  <div class = "col-md-6">
    <table class = "table-condensed">
      <thead>
        <tr><th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Hours</th>
        <th>Type</th>
        <th></th></tr>
      </thead>
      <tbody>
        <% @schedules.each do |s| %>
          <tr>
            <td><%= s.employee.full_name %></td>
            <% if s.start_time == nil %>
              <td>Not set</td>
            <% else %>
              <td><%= s.start_time.strftime("%l:%M %P") %></td>
            <% end %>
            <% if s.end_time == nil %>
              <td>Not set</td>
            <% else %>
              <td><%= s.end_time.strftime("%l:%M %P") %></td>
            <% end %>
            <td><%= s.hours %></td>
            <% if s.work_type_id == nil %>
              <td> - </td>
            <% else %>
              <td><%= s.work_type.name %></td>
            <% end %>
            <td><%= link_to "Edit", edit_schedule_path(s) %> |
            <%= link_to "Delete", s, method: :delete, date: { confirm: "Are you sure?" } %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

        <h3>Add a schedule for <%= formatted_date @day.date %></h3>
        <% @employees.each do |e| %>
          <div><%= link_to e.full_name, new_schedule_path(e, @day.id) %></div>
        <% end %>
  </div>
  <div class = "col-md-1"></div><!-- space in the middle -->
  <div class = "col-md-4">
    <table class = "table-condensed">
      <thead>
        <tr><th>Meal</th><th>Count</th></tr>
      </thead>
      <tbody>
        <tr><td>Breakfast: </td><td><%= @day.breakfast %></td></tr>
        <tr><td>Lunch: </td><td><%= @day.lunch %></td></tr>
        <tr><td>Dinner: </td><td><%= @day.dinner %></td></tr>
        <tr><td>Dorm: </td><td><%= @day.dorm %></td></tr>
        <tr><td>Lodge: </td><td><%= @day.lodge %></td></tr>
        <tr><td>Horton House: </td><td><%= @day.hh %></td></tr>
      </tbody>
    </table>
  </div>
</div>
