<h2>Costs</h2>
<h3><%= @visit.guest.name %></h3>
<div>Total income for this visit: <%= number_to_currency @visit.income %></div>

<div>Total supplies cost:  <%= number_to_currency @supplies_plate %> per plate x <%=
      @total_meals %> = <%= number_to_currency @total_supplies_cost %></div>

<div>Labor Cost:  Assuming 2 staff per day, 8 hours each:  </div>
<div>Total hours required:  <%= @total_labor_hours %></div>
<div>Total cost: <%= number_to_currency @total_labor_cost %>

<div>Remaining:  <%= number_to_currency(@visit.income - @total_supplies_cost - @total_labor_cost) %></div>

<table class = "table">
<thead>
  <th>Date:</th>
  <% @visit.days.each do |day| %>
    <th><%= link_to day.date, edit_costing_path(day) %></th>
  <% end %>
  <th>Totals</th>
  <th>Price</th>
  <th>Total Price</th>
</thead>

<%= render "shared/days_table_body" %>
</table>
