
  <h2>Costs</h2>

  <h3><%= @visit.guest.name %></h3>
  <div class = "col-md-4">
  <table class = "table-condensed">
    <tbody>
      <tr><td>Total income for this visit:</td><td><%= number_to_currency @visit.income %></td></tr>

      <tr><th>Total supplies cost:</th></tr>
      <tr><td><%= number_to_currency @visit_costs.supplies_plate %> per plate x <%=
            @visit.total_meals %> = </td> <td><%= number_to_currency @visit_costs.total_supplies_cost %></td></tr>

      <tr><th>Labor Cost</th></tr>
      <tr><td>Total hours required:</td><td>  <%= @visit_costs.total_labor_hours %><td></tr>
      <tr><td>Direct labor cost:</td><td> <%= number_to_currency @visit_costs.total_labor_cost %><td></tr>
      <tr><td>Vacation accrual:</td><td> <%= number_to_currency @visit_costs.vacation_accrual %><td></tr>
      <tr><td>Payroll taxes:</td><td> <%= number_to_currency @visit_costs.payroll_taxes %><td></tr>
      <tr><td>Total labor cost:</td><td>  <%= number_to_currency @visit_costs.total_payroll_cost %><td></tr>
      <tr><td>Total cost:</td><td> <%= number_to_currency @visit_costs.cost_total %><td></tr>
      <tr><td>Remaining:</td><td><%= number_to_currency(@visit.income - @visit_costs.cost_total) %><td></tr>
    </tbody>
  </table>
  </div>

  <div class = "col-md-2">  <%= link_to "Edit Visit Details", visit_path(@visit) %></div>

  <div class = "col-md-4">
    <div>Click on the date to add employee schedules</div>
    <table class = "table-condensed table-bordered">
    <thead>
      <th>Date:</th>
      <% @visit.days.each do |day| %>
        <th><%= link_to abbreviated_date(day.date), edit_hours_path(day) %></th>
      <% end %>
      <th>Totals</th>
      <th>Price</th>
      <th>Total Price</th>
    </thead>

    <%= render "shared/days_table_body" %>
    </table>
  </div>
