<div class = "row">
  <div class = "col-md-8  col-md-offset-2">
    <%= form_for @visit do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <ul>
        <%= f.fields_for :days do |days_form, start| %>
          <li><%= @visit.start_date += 1 %>
            <%= days_form.label :breakfast %>
            <%= days_form.number_field :breakfast, value: @visit.num_attendees %>

            <%= days_form.label :lunch %>
            <%= days_form.number_field :lunch, value: @visit.num_attendees %>

            <%= days_form.label :dinner %>
            <%= days_form.number_field :dinner, value: @visit.num_attendees %>
          </li>
          <% end %>
        </ul>



      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
