
<div class = "container-fluid">
  <table class= "table-bordered">
    <% @visit.days.each do |day| %>
      <%= day.date %>
    <% end %>
    <%= form_for @visit do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.fields_for :days do |days_form| %>
        <span class = "form-group">
          <span class = "row">
            <%= days_form.label :breakfast %>
            <%= days_form.number_field :breakfast, value: @visit.num_attendees %>

            <%= days_form.label :lunch %>
            <%= days_form.number_field :lunch, value: @visit.num_attendees %>

            <%= days_form.label :dinner %>
            <%= days_form.number_field :dinner, value: @visit.num_attendees %>
          </span>
        </span>
      <% end %>
      </table>
      <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
