<div class = "col-md-4 center col-md-offset-4">
    <%= form_for @visit do |f| %>
    <% if @visit.errors.any? %>
      <div id = "error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@visit.errors.count, "error") %>.
        </div>
        <ul><% @visit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="form-group">
        <%= f.select(:status, options_for_select(@statuses.collect { |s| [s[0].humanize, s[0]]}), {}, {class: "form-control"}) %>
                <%= f.label "Pricing:" %><%= f.select(:price_tier, options_for_select(@tier_options, selected: "default"), {}, {class: "form-control"}) %>
      </div>
      <div class = "form-group">
        <%= f.label "Group:" %><%= f.select(:guest_id, @guest_options, {}, {class: "form-control"}) %>
      </div>
      <div class = "form-group">
        <%= f.label "Purpose of Visit" %><%= f.text_area(:purpose, class: "form-control") %>
      </div>
      <div class = "form-group">
        <%= f.label "Number of Attendees:" %><%= f.number_field :num_attendees, autofocus: true, class: "form-control" %>
      </div>
      <div class = "form-group">
        <%= f.label :start_date %><%= f.date_select :start_date, class: "form-control" %><br />
      </div>
      <div class = "form-group">
        <%= f.label :end_date %><%= f.date_select :end_date, class: "form-control" %>
      </div>
      <div class = "form-group">
            <%= f.label "Need Projector" %><%= f.check_box :needs_projector, class: "checkbox-inline" %>
      </div>
      <div class = "form-group">
          <%= f.label "Need Childcare" %><%= f.check_box :needs_childcare, class: "checkbox-inline" %>
      </div>
      <div class = "form-group">
          <%= f.label "Need Staff time" %><%= f.check_box :needs_stafftime, class: "checkbox-inline" %>
      </div>
      <div class = "form-group">
        <%= f.label "Notes" %><%= f.text_area(:notes, class: "form-control") %>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div><!-- end col-md-4 -->
