<div class = "col-md-10 col-md-offset-1">
<h2>All Visits</h2>
<table class = "table">
  <tr>
    <th>Guest Name</th>
    <th>Number Attending</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.guest.name %></td>
    <td><%= visit.num_attendees %></td>
    <td><%= formatted_date visit.start_date %></td>
    <td><%= formatted_date visit.end_date %></td>
    <td>
    <%= link_to "Show", visit_path(visit) %> |
    <% if can? :delete, Visit %>
      <%= link_to "Delete", visit, method: :delete, data: { confirm: "Are you sure?" } %>
       | <% end %>
      <%= link_to "Costs", costing_path(visit) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @visits %>
</div>
