<div class="row">
  <div class = "col-md-3">
    <% if can? :update, Visit %>
      <div><%= link_to "View Costs/Set Schedules", costing_path(@visit) %></div>
    <% end %>
    <strong><%= @visit.guest.name %></strong>
    <div><%= @visit.guest.bill_to %></div>
    <div><%= @visit.guest.address %></div>
    <div><%= @visit.guest.address2 %></div>
    <div><%= @visit.guest.city %>, <%= @visit.guest.state %> <%= @visit.guest.zip %></div>
    <div><%= @visit.guest.email %></div>
    <div><%= @visit.guest.telephone %></div>
  </div>
  <div class="col-md-9">
  <% if can? :update, Visit %>
      <%= form_for @visit do |f| %>
        <div class = "col-md-3">
          <div class = "form-group">
            <div><%= f.label "Notes" %><%= f.text_area(:notes, class: "form-control") %></div>
          </div>
        </div>

    <div class = "col-md-2">
        <div class="form-group">
          <%= f.label "Status:" %><%= f.select(:status, Visit.statuses.keys, {}, {class: "form-control"}) %>
          <%= f.label "Pricing:" %><%= f.select(:price_tier, options_for_select(@tier_options, selected: @visit.price_tier),
                                                {}, {class: "form-control"}) %>
        </div>
    </div>
    <div class = "col-md-3">
            <div><%= f.label :agreement_signed do %>
              <%= f.check_box :agreement_signed %>  Agreement Signed?
            <% end %></div>
            <div><%= f.label :deposit_received do %>
              <%= f.check_box :deposit_received %>  Deposit Received?
            <% end %></div>
            <div><%= f.label :needs_projector do %>
              <%= f.check_box :needs_projector %>  Needs Projector
            <% end %></div>
            <div><%= f.label :needs_childcare do %>
              <%= f.check_box :needs_childcare %>  Needs Childcare
            <% end %></div>
            <div><%= f.label :needs_stafftime do %>
              <%= f.check_box :needs_stafftime %>  Needs Staff Time
            <% end %></div>
    </div>
            <div class = "col-md-1"><%= f.submit "Update", class: "btn btn-primary" %></div>
        <% end %><!-- end form -->
    <% end %><!-- end if can? update visit -->
</div><!-- end col-md-9 -->
</div><!-- end row class -->
<div class = "row spacer"></div>
<div class="row">
  <div class = "col-md-4">
    <div>Status: <%= @visit.status %></div>
    <div>Number coming: <%= @visit.num_attendees %></div>
    <div>Starting: <%= formatted_date @visit.start_date %></div>
    <div>Ending: <%= formatted_date @visit.end_date %></div>
    <div>Number of days: <%= @visit.num_days %></div>
    <% if @visit.needs_stafftime? %>
      <div>Needs Staff Time</div>
    <% end %>
    <% if @visit.needs_supplies %>
      <div>Needs Supplies</div>
    <% end %>
    <% if @visit.needs_projector %>
      <div>Needs Projector</div>
    <% end %>
    <% if @visit.needs_childcare %>
      <div>Needs Childcare</div>
    <% end %>
    <% if @visit.agreement_signed %>
      <div>Agreement Signed</div>
    <% else %>
      <div>Agreement not Signed</div>
    <% end %>
    <% if @visit.deposit_received %>
      <div>Deposit Received</div>
    <% else %>
      <div>Deposit not received</div>
    <% end %>
    <div><strong>Total Invoice Price: <%= number_to_currency @visit.income %></strong></div>
    <div>Purpose of visit: <%= @visit.purpose %></div>
  </div>

  </div>

<div class = "row spacer"></div>

<table class = "table-condensed table-bordered">

  <thead>
    <th>Date:</th>
    <% @visit.days.each do |day| %>
      <% if can? :update, Visit %>
        <th><%= link_to abbreviated_date(day.date), edit_day_path(day) %></th>
      <% else %>
        <th><%= abbreviated_date(day.date) %></th>
      <% end %>
    <% end %>
    <th>Totals</th>
    <th>Price</th>
    <th>Total Price</th>
  </thead>

<%= render "shared/days_table_body" %>
</table>

<div class = "row spacer"></div>
<div>Notes:  <%= @visit.notes %></div>
<div class = "row spacer"></div>
<div><%= @visit.guest.about %></div>
