<div class="center jumbotron">


<h2><%= @visit.guest.name %></h2>
<div>Number coming: <%= @visit.num_attendees %></div>
<div>Starting: <%= @visit.start_date %></div>
<div>Ending: <%= @visit.end_date %></div>
<div>Number of days: <%= @visit.num_days %></div>
</div>
