<div class="center jumbotron">


<h2><%= @visit.guest.name %></h2>
<div>Number coming: <%= @visit.num_attendees %></div>
<div>Starting: <%= @visit.start_date %></div>
<div>Ending: <%= @visit.end_date %></div>
<div>Number of days: <%= @visit.num_days %></div>
</div>

<div class = "container-fluid">
<table class = "table">

  <thead>
    <th>Date:</th>
    <% @visit.days.each do |day| %>
      <th><%= link_to day.date, edit_day_path(day) %></th>
    <% end %>
  </thead>
  <tbody>
  <tr>
    <td>Breakfast</td>
    <% @visit.days.each do |day| %>
      <td><%= day.breakfast %></td>
    <% end %>
  </tr>
  <tr>
    <td>Lunch</td>
    <% @visit.days.each do |day| %>
      <td><%= day.lunch %></td>
    <% end %>
  </tr>
  <tr>
    <td>Dinner</td>
    <% @visit.days.each do |day| %>
      <td><%= day.dinner %></td>
    <% end %>
  </tr>
  <tr>
    <td>Dorm</td>
    <% @visit.days.each do |day| %>
      <td><%= day.dorm %></td>
    <% end %>
  </tr>
  <tr>
    <td>Horton House</td>
    <% @visit.days.each do |day| %>
      <td><%= day.hh %></td>
    <% end %>
  </tr>
  <tr>
    <td>Lodge</td>
    <% @visit.days.each do |day| %>
      <td><%= day.lodge %></td>
    <% end %>
  </tr>
</tbody>
</table>
</div>
