<div class = "container-fluid">
<div class="row">
  <div class = "col-md-4">
    <h2><%= @visit.guest.name %></h2>
    <div><%= @visit.guest.bill_to %></div>
    <div><%= @visit.guest.address %></div>
    <div><%= @visit.guest.address2 %></div>
    <div><%= @visit.guest.city %>, <%= @visit.guest.state %> <%= @visit.guest.zip %></div>
    <div><%= @visit.guest.email %></div>
  </div>
  <div class="col-md-4">
  </div>
  <div class = "col-md-2">
  <%= form_for @visit do |f| %>
    <div class="form-group">
      <%= f.label "Status:" %><%= f.select(:status, Visit.statuses.keys, {}, {class: "form-control"}) %>
    </div>
    <%= f.submit "Update Status", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
<div class = "row spacer"></div>
<div class="row">
  <div class = "col-md-4">
    <div>Status: <%= @visit.status %></div>
    <div>Number coming: <%= @visit.num_attendees %></div>
    <div>Starting: <%= @visit.start_date %></div>
    <div>Ending: <%= @visit.end_date %></div>
    <div>Number of days: <%= @visit.num_days %></div>
    <% if @visit.needs_stafftime? %>
      <div>Needs Staff Time</div>
    <% end %>
    <% if @visit.needs_supplies %>
      <div>Needs Supplies</div>
    <% end %>
    <% if @visit.needs_projector %>
      <div>Needs Projector</div>
    <% end %>
    <% if @visit.needs_childcare %>
      <div>Needs Childcare</div>
    <% end %>
    <div><strong>Total Invoice Price: <%= number_to_currency @visit.income %></strong></div>
  </div>


</div>
<div class = "row spacer"></div>
<div>Click on the date to edit meals and lodging numbers</div>
<table class = "table-condensed table-bordered">

  <thead>
    <th>Date:</th>
    <% @visit.days.each do |day| %>
      <th><%= link_to day.date, edit_day_path(day) %></th>
    <% end %>
    <th>Totals</th>
    <th>Price</th>
    <th>Total Price</th>
  </thead>

<%= render "shared/days_table_body" %>
</table>
</div> <!-- close container -->
