<div class = "container-fluid">
  <h1>Edit Employee <%= "#{@employee.full_name}" %></h1>
    <div class = "col-md-3 col-md-offset-4">
      <%= form_for @employee, class: "form-horizontal center" do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <div class= "form-group">
          <%= f.label "First Name", class: "control-label" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div class = "form-group">
          <%= f.label "Last Name", class: "control-label" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
