.container-fluid
  %h1 Add Employee
  .col-md-3.col-md-offset-4#employee-form
    = form_for @employee, class: "form-horizontal center" do |f|
      = render "shared/error_messages", object: f.object
      .form-group
        = f.label "First Name", class: "control-label"
        = f.text_field :first_name, id: "first-name", class: "form-control"
      .form-group
        = f.label "Last Name", class: "control-label"
        = f.text_field :last_name,  id: "last-name", class: "form-control"
      = f.submit "Add Employee", class: "btn btn-primary"
