<div class = "row">
  <div class = "col-md-4">
  <h3>Admin Options</h3>
    <div><%= link_to "Add an employee", new_employee_path %></div>
    <div><%= link_to "Manage Users", users_path %></div>
    <div><%= link_to "Add User", new_user_path %></div>
    <div><%= link_to "Price Tiers", prices_path %></div>
    <div><%= link_to "Generate Income/Expense", reports_path %></div>
    <div><%= link_to "View all Guests", guests_path %></div>
    <div><%= link_to "View all days", days_path %></div>
    <div><%= link_to "Edit Costs", "cost_amount/1/edit" %></div>
    <div><%= link_to "Add Work Types", new_work_type_path %></div>
    <div><%= link_to "All Work Types", work_types_path %></div>
  </div>
  <div class = "col-md-4">
    <h3>WSC Manager Options</h3>
    <div><%= link_to "Add a work day", new_day_path %></div>
    <div><%= link_to "View Schedules", get_dates_path %></div>
  </div>


</div>
