<div class = "col-md-4 col-md-offset-4">
  <h3>Admin Options</h3>

  <div><%= link_to "Add an employee", new_employee_path %><div>
  <div><%= link_to "Manage Users", users_path %></div>
  <div><%= link_to "Add User", new_user_path %></div>
  <div><%= link_to "Price Tiers", prices_path %></div>
  <div><%= link_to "Generate Income/Expense", reports_path %></div>
  <div><%= link_to "View all Guests", guests_path %></div>
  <div><%= link_to "Add a date with no visit", new_day_path %></div>
  <div><%= link_to "View all days", days_path %></div>
</div>
