  <h2>Edit schedule for <%= @schedule.employee.full_name %>
    <%= formatted_date @schedule.day.date %></h2>
    <div class = "row">
      <div class = "col-md-4 col-md-offset-4">
        <%= form_for @schedule do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <div class = "form-group">
            <%= f.label "Start Time" %><%= f.time_field :start_time,
                pattern: '\d?\d:\d\d\s[ap]m', title: "use the format:  6:00 am",
                autofocus: true, value: formatted_time(@schedule.start_time) %>
          </div>
          <div class = "form-group">
            <%= f.label "End Time" %><%= f.time_field :end_time,
                pattern: '\d?\d:\d\d\s[ap]m', title: "use the format:  6:00 am", value: formatted_time(@schedule.end_time) %>
          </div>
          <div class = "form-group">
            <%= f.collection_select(:work_type_id, WorkType.all, :id, :name, {}, {class: "form-control"}) %>
         </div>
          <div class = "form-group">
            <%= f.hidden_field :employee_id %><%= f.hidden_field :day_id %>
          </div>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
