<h3>All Schedules for <%= formatted_date @start_date %> to <%= formatted_date @end_date %></h3>
    <% @days.each do |d| %>
    <div class = "row">
      <div class = "col-md-4">
        <strong><%= link_to abbreviated_date(d.date), edit_hours_path(d) %></strong>
          <ul class = "list-group">
            <% d.schedules.each do |s| %>
              <li class = "list-group-item"><%= s.employee.full_name %>
              <%= formatted_time s.start_time %> to
              <%= formatted_time s.end_time %>, <%= s.hours %> hours
              <%= link_to "Edit", edit_schedule_path(s) %></li>
            <% end %>
          </ul>
        </div>
      </div>
        <div class = "row spacer"></div>
    <% end %>
